.ItemDetails {
	margin: 0;
	width: 100%;
	.buttonArea {
		margin: 0;
		display: inline-block;

		.goBack {
			display: block;
			width: 40%;
			margin: auto 5%;
			float: left;
		}
		.goFurther {
			display: block;
			width: 40%;
			margin: auto 5%;
			float: right;
		}
	}
}
