.DataItems {
    position: relative;
    display: inline-block;
    width:100%;
    .bottom-area{
        position: relative;
        width:90%;
        margin:auto;
        bottom: 0;
        height: 50px;
        background-color: #333;
        .Previous {
            position: absolute;
            left:20px;
            margin:5px auto;
        }
        .Next {
            position: relative;
            float:right;
            right:20px;
            margin:5px auto;
           
        }
    }
}